<!--
  Generated template for the NotesaddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Note</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="noteForm">
    <ion-item>
      <ion-input placeholder="Title" formControlName="title"></ion-input>
    </ion-item>
    <div *ngIf="noteForm.controls['title'].touched">
      <small style="color: red" *ngIf="noteForm.controls['title'].hasError('required')">Title cannot be empty</small>
    </div>
    <ion-item>
      <ion-textarea placeholder="Enter your notes here" formControlName="description"></ion-textarea>
    </ion-item>
    <div *ngIf="noteForm.controls['description'].touched">
      <small style="color: red" *ngIf="noteForm.controls['description'].hasError('required')">Note cannot be
        empty</small>
    </div>
    <ion-footer>
      <ion-row>
        <ion-col text-center>
          <button ion-button color="danger" style="width: 150px" round outline (click)="goBack()">Cancel</button>
        </ion-col>
        <ion-col text-center>
          <button ion-button color="danger" style="width: 150px" round outline (click)="saveNote()"
            [disabled]="noteForm.invalid">Save</button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </form>
</ion-content>
